h1 This is a cozy home...

p And this is a brand new paragraph with changes over NFS to digital ocean, but it's sloooooow

p But it's really reasonble over NFS to local VM.... Except there was the weird double save thing again.

p Just once, so maybe it was a fluke. I guess I'll have to play with it to see.

p So maybe the double save is just a way to be sure to flush it. I don't know... It sometimes syncs right away and sometimes takes a while. I just don't know. Could be better on newer than 10.6.

p Or maybe it's just the nature of NFS

p Or maybe it's just the nature of NFS

p Or maybe it's just the nature of NFS

p Super frustrating....

h2 Anyway, I think this is workable.
